flex(n)
  flex n
  -webkit-flex n

display-flex()
  // The ordering below is important for proper cascading in browsers
  display -webkit-box
  display -moz-boxn
  display -ms-flexbox
  display -webkit-flex
  display flex
  
flex-direction(n)
  flex-direction n
  -webkit-flex-direction n
  
flex-grow(n)
  flex-grow n
  -webkit-flex-grow n
  
flex-shrink(n)
  flex-shrink n
  -webkit-flex-shrink n