page-text()
  font-family 'Roboto Slab', 'Georgia', 'Times New Roman', serif

  text-rendering optimizeLegibility
  font-kerning normal

  // NOTE: currently these only do anything in Chrome.
  font-feature-settings kern
  -webkit-font-feature-settings "kern" 1
  -moz-font-feature-settings "kern"

  font-size 18px
  line-height 1.825em

  overflow-x visible

  p
    text-indent 36px
    margin 0
