@font-face
  font-family 'Roboto Slab'
  font-style normal
  font-weight 400
  src local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(fonts/roboto-slab-regular.woff) format('woff')

@font-face
  font-family 'Roboto Slab'
  font-style normal
  font-weight 700
  src local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(fonts/roboto-slab-bold.woff) format('woff')
  
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(fonts/ubuntu.woff) format('woff');
}
