med-brown = #846B4B

fullscreen-style()
  background white

  #page
    background white

  #editor-container
    border none !important
    box-shadow none !important

  #left-sidebar-container, #right-sidebar-container, #editor-header, #editor-footer
    opacity 0
    transition opacity .1s ease-out

    &:hover
      transition opacity .1s ease-in
      opacity 1

@media screen
  :-webkit-full-screen
    fullscreen-style()

  :-moz-full-screen
    fullscreen-style()

  :-ms-fullscreen
    fullscreen-style()

  :fullscreen
    fullscreen-style()
