@font-face
  font-family "Flaticon"
  src url("fonts/flaticon.woff") format("woff");
  font-weight normal
  font-style normal

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after
  font-family Flaticon
  font-size inherit
  font-style normal
  margin-left inherit

.flaticon-add139
  &:before
    content "\e000"

.flaticon-ascendant6
  &:before
    content "\e001"

.flaticon-collapsing
  &:before
    content "\e002"

.flaticon-download14
  &:before
    content "\e003"

.flaticon-expand
  &:before
    content "\e004"

.flaticon-open169
  &:before
    content "\e005"

.flaticon-printer70
  &:before
    content "\e006"

.flaticon-zoom19
  &:before
    content "\e007"
