@font-face
  font-family "Flaticon"
  src url("fonts/flaticon.woff") format("woff");
  font-weight normal
  font-style normal

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after
  font-family Flaticon
  font-size inherit
  font-style normal
  margin-left inherit


.flaticon-add139
  &:before
    content "\e000"

.flaticon-add26
  &:before
    content "\e001"

.flaticon-close15
  &:before
    content "\e002"

.flaticon-closed18
  &:before
    content "\e003"

.flaticon-cloud134
  &:before
    content "\e004"

.flaticon-collapsing
  &:before
    content "\e005"

.flaticon-document127
  &:before
    content "\e006"

.flaticon-expand
  &:before
    content "\e007"

.flaticon-folder63
  &:before
    content "\e008"

.flaticon-machine2
  &:before
    content "\e009"

.flaticon-open169
  &:before
    content "\e00a"

.flaticon-pencil90
  &:before
    content "\e00b"

.flaticon-printer70
  &:before
    content "\e00c"

.flaticon-zoom19
  &:before
    content "\e00d"
