@require "mixins/flex"

page-background = rgb(100, 90, 128)
page-default-text = rgb(40, 35, 76)

#page
  position relative 
  display-flex()
  flex-direction row
  justify-content center
  align-items stretch

  width 100%
  height 100%
  box-sizing border-box
  margin 0
  padding 8px

  overflow hidden

  background-color page-background
  color page-default-text

::-webkit-input-placeholder
  color page-default-text