@require "mixins/page-text"

dark-brown = #644B2B
header-control-color = #E0C59E
header-control-hover = #F4F0EC

#right-sidebar-container
  position relative
  flex-grow 1

  width 100%
  box-sizing border-box

  color dark-brown

#right-sidebar-header
  padding-bottom 0
  margin-bottom 0

#right-sidebar-body
  padding 8px
  padding-bottom 0

#notes-search-button
  font-size 34px
  margin-left 5px

#notes-search-text
  font-family 'Ubuntu', Helvetica, Arial, sans-serif
  text-shadow none
  box-shadow 2px 2px 2px dark-brown
  cursor text
  background-color header-control-color
  color dark-brown
  border none
  padding 0 12px
  flex-grow 1
  font-size 18px
  height 36px
  margin-top 2px

::-webkit-input-placeholder
  color #846B4B

#notes
  padding 20px
  margin-left 10px
  box-sizing border-box

  page-text()

  font-size 16px
  line-height 1.62em

  p
    text-indent 0


#note-listings
  padding 0 6px

.note-listing
  font-size 18px
  padding 6px
  cursor pointer
  display flex

  &:hover
    color black

.note-listing-title
  flex 1

.note-listing-icon
  margin-right 6px

#current-note
  padding 0 12px

#current-note-title-container
  font-size 24px
  display flex

#current-note-title
  flex-grow 1

#close-current-note
  font-size 18px
  padding 3px
  min-width 24px
  cursor pointer

  &:hover
    color black

#current-note-controls
  display flex
  justify-content space-between
  padding-left 16px
  padding-right 16px
  padding-bottom 0

.current-note-control
  font-size 24px
  width 42px
  text-align center
  cursor pointer

  &:hover
    color black

  &.flaticon-cloud134
    font-size 28px
    position relative
    top -1px

  &.flaticon-closed18
    font-size 34px
    position relative
    top -5px

#current-note-body
  font-size 18px
  margin 12px 0