@require "mixins/page-text"

dark-brown = #644B2B
header-control-color = #E0C59E
header-control-hover = #F4F0EC

#right-sidebar-container
  position relative
  flex-grow 1

  width 100%
  overflow auto
  box-sizing border-box

  color dark-brown

#right-sidebar-header
  display flex

#notes-search-button
  margin-left 8px

#notes-search-text
  text-shadow none
  box-shadow 2px 2px 2px dark-brown
  cursor text
  background-color header-control-color
  color dark-brown
  font-family "Ubuntu"
  border none
  padding 0 12px
  flex-grow 1
  font-size 18px
  height 36px
  margin-top 2px

::-webkit-input-placeholder
  color #846B4B

#notes
  padding 20px
  margin-left 10px
  box-sizing border-box

  page-text()

  font-size 16px
  line-height 1.62em

  p
    text-indent 0
