@require "page"

header-control-color  = rgb(208, 191, 195)
header-control-hover  = #fff
header-control-shadow = rgb(46, 38, 50)
header-body-element   = rgb(147, 134, 160)

.sidebar
  font-family 'Ubuntu', Helvetica, Arial, sans-serif
  display flex
  flex-direction column
  padding 8px

.sidebar-header
  display flex
  justify-content space-between
  box-sizing border-box
  height 58px
  flex-shrink 0

.sidebar-header-control
  font-size 32px
  color header-control-color
  text-shadow 1px 1px 1px header-control-shadow
  padding 2px
  cursor pointer

  &:hover
    color header-control-hover

.sidebar-body
  overflow auto

.sidebar-footer
  height 48px
  padding-top 16px
  flex-shrink 0