header-control-color = #E0C59E
header-control-hover = #F4F0EC

.sidebar
  .sidebar-header
    box-sizing border-box
    color #644b2b

  .sidebar-header-control
    font-family 'Ubuntu', Verdana
    font-size 36px
    color header-control-color
    text-shadow 2px 2px 2px #644b2b
    padding 6px
    cursor: pointer
    margin-right: 12px

    &:hover
      color header-control-hover
